<body>
  <div id="login-section">

    {{registerForm.value | json  }}

    <div class="login-box">
      <h1>REGISTRARSE</h1>

      <form [formGroup]="registerForm">
        <div class="textbox">
          <input class="form-control" type="text" placeholder="Nombres" formControlName="names">
        </div>
        <div>
          <span *ngIf="registerForm.controls['names'].errors?.required" id="errors"> Nombres obligatorios </span>
          <span *ngIf="registerForm.controls['names'].errors?.pattern" id="errors"> Nombres invalidos </span>
        </div>

        <div class="textbox">
          <input class="form-control" type="text" placeholder="Apellidos" formControlName="lastnames">
        </div>
        <div>
          <span *ngIf="registerForm.controls['lastnames'].errors?.required" id="errors"> Apellidos obligatorios </span>
          <span *ngIf="registerForm.controls['lastnames'].errors?.pattern" id="errors"> Apellidos invalidos </span>
        </div>

        <div class="textbox">
          <input class="form-control" type="text" placeholder="Correo" formControlName="mail">  
        </div>
        <div>
          <span *ngIf="registerForm.controls['mail'].errors?.required" id="errors"> Correo Electrónico obligatorio </span>
          <span *ngIf="registerForm.controls['mail'].errors?.pattern" id="errors"> Ingrese un correo electrónico valido </span>
        </div>

        <div class="textbox">
            <div formArrayName="phone">
                <div *ngFor="let item of getPhones.controls; let i=index " [formGroupName]="i">
                    <input type="text" class="form-control" formControlName="phones" placeholder="Celular">
                </div>
            </div>
            <a class="dynamic" type="button" (click)="addPhones()"><strong>+</strong></a>
            <a class="dynamic" type="button" (click)="deletePhones(i)"><strong>-</strong></a>
        </div>
        <div>
          <span *ngIf="registerForm.controls['phone'].errors?.required" id="errors"> Celular obligatorio </span>
          <span *ngIf="registerForm.controls['phone'].errors?.pattern" id="errors"> Celular invalido </span>
        </div>
        <button (click)="submit()" type="button" class="btn">Enviar</button>
      </form>

    </div>
  </div>
</body>

<router-outlet></router-outlet>