<body>
  <div id="login-section">
    <div *ngIf="registerForm.controls['names'].errors?.required" id="invalid1"> Nombres obligatorio </div>
    <div *ngIf="registerForm.controls['lastnames'].errors?.required" id="invalid2"> Apellidos obligatorio </div>
    <div *ngIf="registerForm.controls['mail'].errors?.required" id="invalid3"> Correo obligatorio </div>
    <div *ngIf="registerForm.controls['phone'].errors?.required" id="invalid4"> Teléfono obligatorio </div>

    <div *ngIf="registerForm.controls['mail'].errors?.pattern" id="invalid5"> Correo invalido </div>
    <div *ngIf="registerForm.controls['names'].errors?.pattern" id="invalid6"> Nombres invalidos </div>
    <div *ngIf="registerForm.controls['lastnames'].errors?.pattern" id="invalid7"> Apellidos invalidos </div>
    <div *ngIf="registerForm.controls['phone'].errors?.pattern" id="invalid8"> Celular invalido </div>

    <div class="login-box">
      <h1>REGISTRARSE</h1>
      <form [formGroup]="registerForm" novalidate="">
        <div class="textbox">
          <input class="form-control" type="text" placeholder="Nombres" formControlName="names">
        </div>

        <div class="textbox">
          <input class="form-control" type="text" placeholder="Apellidos" formControlName="lastnames">
        </div>

        <div class="textbox">
          <input class="form-control" type="text" placeholder="Correo" formControlName="mail">  
        </div>

        <div class="textbox">
            <input class="form-control" type="text" placeholder="Celular" formControlName="phone">
          </div>
      </form>

      <button (click)="submit()" type="button" class="btn">Enviar</button>
    </div>
  </div>
</body>

<router-outlet></router-outlet>