<body>
  <div id="login-section">
    <div *ngIf="registerForm.controls['names'].errors?.required" class="invalid-feedback"> Nombres obligatorio </div>
    <div *ngIf="registerForm.controls['lastnames'].errors?.required" class="invalid-feedback"> Apellidos obligatorio </div>
    <div *ngIf="registerForm.controls['mail'].errors?.required" class="invalid-feedback"> Correo electrónico obligatorio </div>
    <div *ngIf="registerForm.controls['phone'].errors?.required" class="invalid-feedback"> Teléfono obligatorio </div>

    <div class="login-box">
      <h1>REGISTRARSE</h1>
      <form [formGroup]="registerForm" novalidate="">
        <div class="textbox">
          <input class="form-control" [ngClass]="{'is-invalid': !registerForm.get('names').valid}" type="text" placeholder="Nombres" formControlName="names">
        </div>

        <div class="textbox">
          <input class="form-control" [ngClass]="{'is-invalid': !registerForm.get('lastnames').valid}" type="text" placeholder="Apellidos" formControlName="lastnames">
        </div>

        <div class="textbox">
          <input class="form-control" [ngClass]="{'is-invalid': !registerForm.get('mail').valid}" type="text" placeholder="Correo Electrónico" formControlName="mail">  
        </div>

        <div class="textbox">
            <input class="form-control" [ngClass]="{'is-invalid': !registerForm.get('phone').valid}" type="text" placeholder="Teléfono" formControlName="phone">
          </div>
      </form>

      <button (click)="mySubmit()" type="button" class="btn">Enviar</button>
    </div>
  </div>
</body>

<router-outlet></router-outlet>