body{
    @include text_body;
    margin: 0;
    padding: 0;
    background: url($image) no-repeat center center fixed;
    background-size: cover;
}

#login-section{
    .login-box{
        background: rgba(73, 67, 67, 0.36);
        width: 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $white;
    }
    
    .login-box h1{
        float: left;
        font-size: 40px;
        border-bottom: 6px solid;
        border-color: $white;
        margin-bottom: 50px;
        padding: 13px 0;
    }
    
    .textbox{
        @include textbox(map-keys($color_palette)...);
        overflow: hidden;
        font-size: 20px;
        padding: 8px 0;
        margin: 8px 0;
        border-bottom: 1px solid;
    }
      
    .textbox input{
        border: none;
        outline: none;
        background: none;
        color: $default_color;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }

    .textbox select{
        border: 1px solid;
        outline: none;
        background: none;
        color: $white;
        font-size: 18px;
        width: 80%;
        float: left;
        margin: 0 10px;
    }

    .textbox input .form-control{
        background:$white
    }
      
    .btn{
        @include buttons(map-keys($buttons-colors)...);
        border: 2px solid;
        background: none;
        cursor: pointer;
        font-size: 18px;
        margin: 12px 0;
        color: $white;
        padding: 5px;
    }

    .dynamic{
        border: none;
        top: 50%;
        background: none;
        cursor: pointer;
        font-size: 18px;
        padding: 8px;
    }

    #errors{
        @include invalid_required;
    }

}