@mixin text_body {
    font-family: $source_titles;
    font-size: 25px;
    color: $white;
}

@mixin buttons ($colors...){
	@if $buttons-state{
        width: 100%;
        border-color: map-get($buttons-colors,nth($colors, 1));
		@if length($colors) > 1{
			@for $i from 2 through length($colors){
				&.#{nth($colors, $i)}{
                    border-color:map-get($buttons-colors,nth($colors, $i));
                    color: $white;
				}
			}
		}
	}@else{
		display: none;
	}
}

@mixin textbox ($colors...){
	@if $textbox_state{
        width: 100%;
        border-color: map-get($color_palette,nth($colors, 1));
        color: map-get($color_palette,nth($colors, 1));
		@if length($colors) > 1{
			@for $i from 2 through length($colors){
				&.#{nth($colors, $i)}{
                    border-color:map-get($color_palette,nth($colors, $i));
				}
			}
		}
	}@else{
		display: none;
	}
}

@mixin center-vertical {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

@mixin center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin invalid_required{
	@include center-horizontal;
	position: block;
	text-align: center;
	font-size: 15px;
	border-left: 6px solid red;
	background-color: rgb(175, 175, 175);
	color: red;
}