$default_color: #000000;

$white: rgb(0, 0, 0);

$source_titles: fantasy;
$image: "./assets/fondo.jpg";

//TAREA
$textbox_state: true !default;
$color_palette:(
    primary: $default_color,
    secundary:yellow,
    alert:red,
);

$buttons-state: true !default;
$buttons-colors:(
    primary: $default_color,
    secundary:yellow,
    alert:red,
);